.pocket-money-container {
	background-image: url('/assets/dollars.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.trans-btn {
	margin-top: 10rem;
}

.overview-modal {
	max-height: 90%;
}
